<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-vuelo-heading" data-cy="VueloCreateUpdateHeading">Create or edit a Vuelo</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_avion">Avion</label>
          <select class="form-control" id="field_avion" data-cy="avion" name="avion" formControlName="avion">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="avionOption.id === editForm.get('avion')!.value?.id ? editForm.get('avion')!.value : avionOption"
              *ngFor="let avionOption of avionsSharedCollection; trackBy: trackAvionById"
            >
              {{ avionOption.matricula }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_origen">Origen</label>
          <select class="form-control" id="field_origen" data-cy="origen" name="origen" formControlName="origen">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="aeropuertoOption.id === editForm.get('origen')!.value?.id ? editForm.get('origen')!.value : aeropuertoOption"
              *ngFor="let aeropuertoOption of aeropuertosSharedCollection; trackBy: trackAeropuertoById"
            >
              {{ aeropuertoOption.nombre }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_destino">Destino</label>
          <select class="form-control" id="field_destino" data-cy="destino" name="destino" formControlName="destino">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="aeropuertoOption.id === editForm.get('destino')!.value?.id ? editForm.get('destino')!.value : aeropuertoOption"
              *ngFor="let aeropuertoOption of aeropuertosSharedCollection; trackBy: trackAeropuertoById"
            >
              {{ aeropuertoOption.nombre }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_piloto">Piloto</label>
          <select class="form-control" id="field_piloto" data-cy="piloto" name="piloto" formControlName="piloto">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="pilotoOption.id === editForm.get('piloto')!.value?.id ? editForm.get('piloto')!.value : pilotoOption"
              *ngFor="let pilotoOption of pilotosSharedCollection; trackBy: trackPilotoById"
            >
              {{ pilotoOption.dni }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="field_tripulacions">Tripulacion</label>
          <select
            class="form-control"
            id="field_tripulacions"
            data-cy="tripulacion"
            multiple
            name="tripulacions"
            formControlName="tripulacions"
          >
            <option
              [ngValue]="getSelectedTripulante(tripulanteOption, editForm.get('tripulacions')!.value)"
              *ngFor="let tripulanteOption of tripulantesSharedCollection; trackBy: trackTripulanteById"
            >
              {{ tripulanteOption.dni }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
