<div>
  <h2 id="page-heading" data-cy="VueloHeading">
    <span>Vuelos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-vuelo"
        [routerLink]="['/vuelo/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Vuelo </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="vuelos?.length === 0">
    <span>No vuelos found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="vuelos && vuelos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="pasaporteCovid"><span>Pasaporte Covid</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="prueba"><span>Prueba</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="avion.matricula"><span>Avion</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="origen.nombre"><span>Origen</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="destino.nombre"><span>Destino</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="piloto.dni"><span>Piloto</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vuelo of vuelos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/vuelo', vuelo.id, 'view']">{{ vuelo.id }}</a>
          </td>
          <td>{{ vuelo.pasaporteCovid }}</td>
          <td>{{ vuelo.prueba }}</td>
          <td>
            <div *ngIf="vuelo.avion">
              <a [routerLink]="['/avion', vuelo.avion?.id, 'view']">{{ vuelo.avion?.matricula }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="vuelo.origen">
              <a [routerLink]="['/aeropuerto', vuelo.origen?.id, 'view']">{{ vuelo.origen?.nombre }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="vuelo.destino">
              <a [routerLink]="['/aeropuerto', vuelo.destino?.id, 'view']">{{ vuelo.destino?.nombre }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="vuelo.piloto">
              <a [routerLink]="['/piloto', vuelo.piloto?.id, 'view']">{{ vuelo.piloto?.dni }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/vuelo', vuelo.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/vuelo', vuelo.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(vuelo)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="vuelos && vuelos.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
