<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="aeropuerto">
      <h2 data-cy="aeropuertoDetailsHeading"><span>Aeropuerto</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ aeropuerto.id }}</span>
        </dd>
        <dt><span>Nombre</span></dt>
        <dd>
          <span>{{ aeropuerto.nombre }}</span>
        </dd>
        <dt><span>Ciudad</span></dt>
        <dd>
          <span>{{ aeropuerto.ciudad }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/aeropuerto', aeropuerto.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
