<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="tripulante">
      <h2 data-cy="tripulanteDetailsHeading"><span>Tripulante</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ tripulante.id }}</span>
        </dd>
        <dt><span>Nombre</span></dt>
        <dd>
          <span>{{ tripulante.nombre }}</span>
        </dd>
        <dt><span>Apellidos</span></dt>
        <dd>
          <span>{{ tripulante.apellidos }}</span>
        </dd>
        <dt><span>Dni</span></dt>
        <dd>
          <span>{{ tripulante.dni }}</span>
        </dd>
        <dt><span>Direccion</span></dt>
        <dd>
          <span>{{ tripulante.direccion }}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
          <span>{{ tripulante.email }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/tripulante', tripulante.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
